.container-model {
  margin-top: 30px;
  .container-content {
    .container-content__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 8px;
        height: 80px;
        object-fit: cover;
        width: 80px;
      }
    }
    .container-content__title {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      color: #000;
      margin: 12px 0;
    }
    .container-content__option {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      button {
        width: 360px;
        height: 46px;
        border: 2px solid #dce0e3;
        border-radius: 46px;
        background-color: #fff;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        color: #000;
        display: flex;
        span {
          flex: 1;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
  .container-model__footer {
    margin-top: 34px;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      .container-model__footer--btn {
        padding: unset;
        font-size: 14px;
        text-decoration: underline;
        font-weight: 600;
        color: #f05123;
        &:hover {
          color: #f05123;
        }
      }
    }
    .container-model__footer--service {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      font-size: 11px;
      color: #666;
      width: min(360px, 100%);
      text-align: center;
    }
  }
}

// custom
