.manage-user {
  margin: 10px;
  .manage-user__title {
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }

  .manage-user__list-user {
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }
  .manage-user__content {
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    .manage-user__item {
      label {
        display: block;
        span {
          margin-left: 3px;
          color: red;
        }
      }
      .ant-input-outlined {
        margin-top: 5px;
      }
      .ant-select-show-arrow {
        margin-top: 5px;
        width: 100% !important;
      }
      .preview_avatar,
      .preview_cover_photo {
        margin-top: 3px;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  .manage-user__button {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: end;
  }
  .manage-user__search {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    button {
      flex: 1;
    }
    input {
      max-width: 85.5%;
    }
  }

  .manage-user__list {
    margin-top: 20px;
    th {
      text-align: center;
    }
    .manage-user__list__table {
      td {
        text-align: center;
      }
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }
  }
}
.manage-warn {
  h1 {
    font-size: 20px;
    font-weight: 700;
  }
  strong {
    font-size: 16px;
  }
}
.ant-table-thead {
  tr {
    .ant-table-cell {
      text-align: center !important;
    }
  }
}
.ant-table-tbody {
  tr {
    .ant-table-cell {
      text-align: center !important;
    }
  }
}
