

.wrapper-banner-content {
  margin-top: 86px;
  padding: 0 28px;
  min-height: 500px;
  max-height: 900px;
  gap: 20px;
  background-color: #fff;
  .wrapper-banner-content__left {
    h1 {
      font-size: 56px;
      font-weight: 700;
      span {
        color: #ef233c;
        margin: 0 8px;
      }
    }
    p {
      margin-top: 20px;
      font-size: 22px;
      line-height: 1.4;
      text-align: justify;
      strong {
        font-weight: 550;
        color: #ff0000;
        margin: 0 2px;
      }
    }
    .wrapper-banner-content__left-footer {
      margin-top: 40px;
      .wrapper-banner-content__left-learn-now {
        font-size: 18px;
        font-weight: 600;
        padding: 18px 36px;
        height: 57px;
        border-radius: 20px;
        background: linear-gradient(90deg, #26a69a, #80deea);
        color: #fff;
      }
      .wrapper-banner-content__left-more {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .wrapper-banner-content__reight {
    display: flex;
    justify-content: center;
    img {
      width: 350px;
      height: 350px;
      object-fit: cover;
    }
  }
}
