.wrapper-layout-header-home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 28px;
  height: 66px;
  background-color: #fff;
  border-bottom: 1px solid #e8ebed;
  font-size: 1.4rem;
  .container__header {
    height: 100%;

    .wrapper-layout-header-home__center {
      .wrapper-layout-header-home__center--menu {
        border: none;
      }
    }

    .container__header--dropdown {
      min-width: 240px;
      .container__header--dropdown__btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    .wrapper-layout-header-home__right {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
      .wrapper-layout-header-home__right--login {
        font-size: 14px;
        color: #000;
      }
      .wrapper-layout-header-home__right--register {
        flex-shrink: 0;
        padding: 9px 20px;
        border-radius: 99px;
        color: #fff;
        background: linear-gradient(90deg, #26a69a, #80deea);
        font-size: 14px;
        height: 38px;
        font-weight: 600;
        cursor: pointer;
        transition: opacity 0.25s;
        border: none;
      }
    }

    .wrapper-layout-header-home__right-active {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      .wrapper-layout-header-home__right-active-my-course {
        font-size: 14px;
        color: #333;
        cursor: pointer;
        font-weight: 600;
        opacity: 1;
        &:hover {
          opacity: 0.9;
        }
      }
      .wrapper-layout-header-home__right-notify {
        width: 20px;
        height: 20px;
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        .wrapper-layout-header-home__right-bell {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .wrapper-layout-header-home__right-dropdown-account {
        cursor: pointer;
        .wrapper-layout-header-home__right-img {
          object-fit: cover;
          border-radius: 50%;
          width: 29px;
          height: 29px;
        }
      }
      .wrapper-layout-header-home__right-active--my-course {
      }
    }
    .wrapper-layout-header-home__left {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 16px;
      img {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        object-fit: contain;
        border-radius: 8px;
      }
      h1 {
        font-size: 14px;
        font-weight: 700;
        color: #000;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
.wrapper-layout-header-home__right-dropdown-account-header {
  display: flex;
  gap: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8ebed;
  span {
    &:first-child {
      font-size: 16px;
      font-weight: 600;
      color: #292929;
    }
    &:last-child {
      // margin-top: 8px;
      font-size: 14px;
      color: #757575;
    }
  }
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .wrapper-layout-header-home__right-dropdown-account-section {
    display: flex;
    flex-direction: column;
  }
}

.wrapper-layout-header-home__right-dropdown-account-option {
  font-size: 14px;
  cursor: pointer;
  color: #666 !important;
}
.header-container-my-course {
}
