.container-setting-info {
  margin: 80px 0;
  margin-left: 30px;
  padding: 0 10px;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  &::-webkit-scrollbar {
    width: 6px; /* Độ rộng của thanh cuộn dọc */
    height: 6px; /* Độ rộng của thanh cuộn ngang (nếu cần) */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu sắc của thanh cuộn */
    border-radius: 10px; /* Độ bo góc của thanh cuộn */
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Màu sắc khi hover vào thanh cuộn */
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của đường ray thanh cuộn */
  }
  h1 {
    font-size: 22px;
    font-weight: 600;
  }
  h2 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
  }
  .p-h1 {
    margin-top: 10px;
    font-size: 15px;
    opacity: 0.9;
  }
  .p-h2 {
    margin-top: 10px;
    font-size: 14px;
    color: #000;
    opacity: 0.7;
    margin-bottom: 10px;
  }
  .container-setting-info--section {
    margin-top: 10px;
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    .container-setting-info--section__content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h4 {
        color: #000;
        font-size: 16px;
        font-weight: 600;
      }
      span {
        color: #000;
        font-size: 15px;
        opacity: 0.8;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .container-setting-info--section__content--item {
      font-size: 20px;
      color: #7f8081;
    }
  }
}
